<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223908772884-sft5t7399qnl4ffksmrttraa78qmao2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223908772884-sft5t7399qnl4ffksmrttraa78qmao2f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>223908772884-a4d1c9m3us33cuctqn5knms90gf54nvt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEFbHe4um5QIVdHxvB4DV-bFgzwMUdKzU</string>
	<key>GCM_SENDER_ID</key>
	<string>223908772884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.createProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>create-doc-8c600</string>
	<key>STORAGE_BUCKET</key>
	<string>create-doc-8c600.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223908772884:ios:4a3c6fdf3faa6180983b01</string>
</dict>
</plist>